<div class="text-muted">
	<small>
		{{T "User:"}}
		<b>{{#if login}}{{login.user}}{{else}}{{T "Not logged in"}}{{/if}}</b>
		{{T "Sync:"}} 
		<span class="text-{{dataSyncClass}}">{{dataSyncText}}</span>
		{{#if lastSyncDate}}<b>{{timeago lastSyncDate}}</b>{{/if}}
		<span id="upserts_pending"></span>
		<span id="images_pending"></span>
		{{T "Version:"}} <b>{{version}} {{#if baseVersion}}({{baseVersion}}){{/if}}</b>
	</small>
</div>

{{#if outdated}}
	<div class="alert alert-warning">{{T "Your app is out of date. Please update in Google Play store."}}</div>
{{/if}}

<div class="well well-lg">
	<h1>Welcome to Broadstreet</h1>
	<p><em>Broadstreet is a digital epidimiogy tool for reporting symptoms and other needs for communities impacted by Ebola.</em></p>
	<p>Use the buttons below to create reports</p>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<button type="button" id="report_possible_case" class="btn btn-block btn-warning">{{T "Report a Possible Case"}}</button>
		<br>
		<button type="button" id="report_death" class="btn btn-block btn-danger">{{T "Report a Death"}}</button>
		<br>
		<button type="button" id="report_need" class="btn btn-block btn-primary">{{T "Report a Need"}}</button>
	</div>
</div>
